

  <body>

    <div id="h">
      <div class="logo">{code} Community</div>
      <div class="social hidden-xs">
        <a href="https://twitter.com/emccode"><i class="ion-social-twitter"></i></a>
        <a href="https://blog.emccode.com"><i class="ion-social-wordpress"></i></a>
        <a href="https://github.com/emccode"><i class="ion-social-github"></i></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Join our community of <br/>{{{total}}} {code} loving members!</h1>
            <div class="mtb">
              <form id="invite">
                <input name="email" type="email" class="form-input" placeholder="you@youremail.com">
                <input type="hidden" name="channel" value="null">
                <button class='btn btn-conf btn-blue'>Register here</button>
              </form>
            </div><!--/mt-->
            <h4>Right now there are <b>{{{active}}}</b> online community members</h4>
            <!-- <iframe src="iframe/dialog"></iframe> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>The {code} Community is open to everyone</h2>
          <p class="mt">The {code} Community is managed and run by EMC {code}, however anyone with an interesting coding, hacking or creating new and interesting software is welcome.</p>
          <p>The goal of the {code} Community is to create a safe place for communication and collaboration on Open Source projects by EMC and others, such as Docker, Apache Mesos, DC/OS and Kubernetes.</p>
          <p>To be a member of the {code} Community you have to adhere to our <b><a href="{{{coc}}}">Code of Conduct</a></b></p>
          <!--
          <p class="store">
            <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a>
          </p>
        -->
        </div>
        <div class="col-md-6">
          <img src="assets/img/binary_code.jpg" class="img-responsive mt" alt="Binary code">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div class="container mtb">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/Slack_Mark_Web.png" class="img-responsive" alt="Slack Logo">
        </div>
        <div class="col-md-6">
          <h2>One of the largest Open Source focused Slack teams in the world</h2>
          <p class="mt">With <b>{{total}}</b> registered members and growing, we are currently one of the largest Open Source focused communities on Slack. We use Slack as a communication tool for projects, collaboration and general news around the Open Source world.</p>
          <p>We want you in our community! If you're interested in anything related to EMC {code} or any of the projects we're working on in the community (containers, automation, virtualization, monitoring, logging, infrastructure as code), we’d love to have you be a part of us.</p>
          <!--
          <p class="store">
            <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a>
          </p>
        -->
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div class="container mtb">
      <div class="row">
        <div class="col-md-6">
          <h2>Community programs - <br/><b>DevHigh5</b> and <b>{code} Ambassadors</b></h2>
          <p class="mt">As a member of the community, you can also be active in one of the programs we run. If you're a coder, tinkererer and want to promote something you have built, the DevHigh5 program should be right up your alley. If you'd rather learn something and then teach others by writing blog posts, creating instruction videos or presenting at meetups and events, the {code} Ambassadors program should be right for you.</p>
          <p>As a part of the <b>DevHigh5</b> program, you'll have created a project, hack or similar that augments and promotes Open Source at EMC or with EMC's existing products.</p>
          <p>If you'd rather write blogs than code, then we'd love to have you in our <b>{code} Ambassadors</b> program. The program is created for individuals that really shine when it comes to presenting modern technical functionality and distilling down the essence of it to a wider group of people.</p>
          <!--
          <p class="store">
            <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a>
          </p>
        -->
        </div>
        <div class="col-md-6">
          <img src="assets/img/devhigh5.png" class="img-responsive mt" alt="DevHigh5 members">
        </div>
      </div><!--/row-->
    </div><!--/container-->

<!--
    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1 id="sep h1">One of the largest Open Source focused Slack teams in the world</h1>
            <h4 id="sep h4">We want you in our community! If you're interested in anything related to EMC {code} or any of the projects we're working on in the community (containers, automation, virtualization, monitoring, logging, infrastructure as code), we’d love to have you be a part of us.</h4>
            <p><button class="btn btn-conf-2 btn-green">Learn More</button></p> -->
<!--          </div>
        </div>
      </div>
    </div
-->
    <div class="container ptb">
      <div class="row centered">
        <h2 class="mb">We Manage<br/>Communities and Training<br/>Online And Offline</h2>
        <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Online
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Slack Team</li>
                  <li>Everything Public</li>
                  <li>1300+ Users</li>
                  <li>Unlimited integrations for EMC projects</li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green" >Join Us!</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Training
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Open Source Focused</li>
                  <li>All material published publicly</li>
                  <li>Tens of Thousands already trained</li>
                  <li>Self-paced and videos</li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green">Subscribe Now</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Offline
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Meetups and Conferences</li>
                  <li>Engaging the broader user base</li>
                  <li>Tens of Thousands of interactions</li>
                  <li>Showcasing the {code} community projects</li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green">Subscribe Now</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->
      </div><!--/row-->
    </div><!--/container-->

    <div id="g">
      <div class="container">
        <div class="row sponsor centered aligncenter">
          <h2>Featured EMC {code} Projects</h2>
          <div class="col-md-2 col-md-offset-1">
            <img src="http://emccode.com/images/items/rackhd.png" alt="RackHD">
          </div>
          <div class="col-md-2">
            <img src="http://emccode.com/images/items/rexray.png" alt="REX-Ray">
          </div>
          <div class="col-md-2">
            <img src="http://emccode.com/images/items/polly.jpg" alt="Polly">
          </div>
          <div class="col-md-2">
            <img src="http://emccode.com/images/items/mesos-module-dvdi.png" alt="mesos-module-dvdi">
          </div>
          <div class="col-md-2">
            <img src="http://emccode.com/images/items/libstorage.png" alt="libStorage">
          </div>
          <div class="row sponsor centered aligncenter">
            <div class="col-md-2 col-md-offset-1">
              <p>RackHD</p>
            </div>
            <div class="col-md-2">
              <p>REX-Ray</p>
            </div>
            <div class="col-md-2">
              <p>Polly</p>
            </div>
            <div class="col-md-2">
              <p>mesos-module-dvdi</p>
            </div>
            <div class="col-md-2">
              <p>libStorage</p>
            </div>
          </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div id="blue">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h3>Managing an online community is super rewarding, both personally and professionally.</h3>
                  <h5><tgr>JONAS ROSLAND</tgr></h5>
                </div>
                <div class="item">
                  <h3>I love marketing</h3>
                  <h5><tgr>AMANDA KATONA</tgr></h5>
                </div>
                <div class="item">
                  <h3>Glitter everywhere!</h3>
                  <h5><tgr>STEPHANIE CARLSON</tgr></h5>
                </div>
              </div>
            </div><!--/Carousel-->

          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/green-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>Got feedback?</h2>
          <h4>emccode@emc.com</h4>

          <p class="mt">
            <a href="https://twitter.com/emccode"><i class="ion-social-twitter"></i></a>
            <a href="https://blog.emccode.com"><i class="ion-social-wordpress"></i></a>
            <a href="https://github.com/emccode"><i class="ion-social-github"></i></a>
          </p>
          <h6 class="mt">Using the Landing Sumo theme</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      data = {};
      path = '/';
      data.path = path;
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.3.2.js"></script>
    <script src="assets/superagent.js"></script>
    <script src="assets/client.js"></script>
  </body>
