

  <body>

    <div id="h">
      <div class="logo"><img src="assets/img/Dell EMC bug vertical_web_RGB.svg" width="75px">&nbsp;&nbsp;&nbsp;{code} Community</div>
      <div class="social hidden-xs">
        <a href="http://codedellemc.com"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="https://blog.codedellemc.com"><i class="fa fa-wordpress" aria-hidden="true"></i></a>
        <a href="https://github.com/codedellemc"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/codedellemc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://slideshare.net/codedellemc"><i class="fa fa-slideshare" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <!-- <a href="http://codedellemc.com/store"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>{code} Webinars
            </br></br>
               Join us for open source goodness!</h1>
            <!-- <iframe src="iframe/dialog"></iframe> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>Public webinars focused on interesting open source projects</h2>
          <p>We are taking the community to the next step with public and inclusive webinars, focused on interesting open source projects. Are you curious to know more about containers, automation and software-based infrastructure? Then come join us!</p>
          <p>Check out our future webinars and RSVP by <a href="https://codedellemc.eventbrite.com">clicking here</a>.</p>
          <!--
          <p class="store">
            <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a>
          </p>
        -->
        </div>
        <div class="col-md-6">
          <img src="assets/img/computer-for-webinar.jpg" class="img-responsive mt" title="By Jay kunwar: https://www.pexels.com/photo/computer-monitor-on-table-204611/">
        </div>
      </div><!--/row-->
    </div><!--/container-->


    <div id="f">
      <div class="container">
        <div class="row centered">
          <!-- <h2>Got feedback?</h2>
          <h4><a href=mailto:emccode@emc.com>emccode@emc.com</a></h4>
-->
          <p class="mt">
            <a href="http://codedellemc.com"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="https://blog.codedellemc.com"><i class="fa fa-wordpress" aria-hidden="true"></i></a>
            <a href="https://github.com/codedellemc"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://twitter.com/codedellemc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://slideshare.net/codedellemc"><i class="fa fa-slideshare" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <!-- <a href="http://codedellemc.com/store"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> -->
          </p>
          <h6 class="mt">Using the <a href="http://landingsumo.com">Landing Sumo</a> theme</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      data = {};
      path = '/';
      data.path = path;
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.3.2.js"></script>
    <script src="assets/superagent.js"></script>
    <script src="assets/client.js"></script>
  </body>
